*{
    padding:0;
    margin:0;
}
#formulier{
    width:fit-content;
    background-color: green;
    border-radius:10px;
}
nav{
    width: 100%s;
    height: 10vh;
    background-color: black;
}
p{
    background-color: green;
}